.curso {
    padding: 2rem;
    margin-top: 10rem;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 768px) {
    .curso {
        padding: 5rem;
    }
}

@media (min-width: 768px) {
    .curso .curso-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.curso .contenido {
    grid-column: 2/3;
}

.curso .texto {
    text-align: center;
    font-size: 2.4rem;
    color: var(--white);
}